Source/MiniJournal.WcfServiceClient/Connected Services/ArticlesServiceReference/ArticlesWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArticlesWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61060/ArticlesWebService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61060/ArticlesWebService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61060/ArticlesWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.ArticlesApplicationService" />
      <xsd:import schemaLocation="http://localhost:61060/ArticlesWebService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.ArticlesApplicationService.Entities" />
      <xsd:import schemaLocation="http://localhost:61060/ArticlesWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.UsersApplicationService.Entities" />
      <xsd:import schemaLocation="http://localhost:61060/ArticlesWebService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.ImagesApplicationsService" />
      <xsd:import schemaLocation="http://localhost:61060/ArticlesWebService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.UsersApplicationService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArticlesWebService_GetArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticles" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_GetArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_GetArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArticle" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_GetArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_CreateArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateArticle" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_CreateArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_DeleteArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArticle" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_DeleteArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_AddComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_AddComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_DeleteComment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteComment" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_DeleteComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_FindImage_InputMessage">
    <wsdl:part name="parameters" element="tns:FindImage" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_FindImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindImageResponse" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_GetUserByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByName" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_GetUserByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_CreateNewUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUser" />
  </wsdl:message>
  <wsdl:message name="IArticlesWebService_CreateNewUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IArticlesWebService">
    <wsdl:operation name="GetArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticlesWebService/GetArticles" message="tns:IArticlesWebService_GetArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticlesWebService/GetArticlesResponse" message="tns:IArticlesWebService_GetArticles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticlesWebService/GetArticle" message="tns:IArticlesWebService_GetArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticlesWebService/GetArticleResponse" message="tns:IArticlesWebService_GetArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticlesWebService/CreateArticle" message="tns:IArticlesWebService_CreateArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticlesWebService/CreateArticleResponse" message="tns:IArticlesWebService_CreateArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticlesWebService/DeleteArticle" message="tns:IArticlesWebService_DeleteArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticlesWebService/DeleteArticleResponse" message="tns:IArticlesWebService_DeleteArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticlesWebService/AddComment" message="tns:IArticlesWebService_AddComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticlesWebService/AddCommentResponse" message="tns:IArticlesWebService_AddComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticlesWebService/DeleteComment" message="tns:IArticlesWebService_DeleteComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticlesWebService/DeleteCommentResponse" message="tns:IArticlesWebService_DeleteComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticlesWebService/FindImage" message="tns:IArticlesWebService_FindImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticlesWebService/FindImageResponse" message="tns:IArticlesWebService_FindImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticlesWebService/GetUserByName" message="tns:IArticlesWebService_GetUserByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticlesWebService/GetUserByNameResponse" message="tns:IArticlesWebService_GetUserByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IArticlesWebService/CreateNewUser" message="tns:IArticlesWebService_CreateNewUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArticlesWebService/CreateNewUserResponse" message="tns:IArticlesWebService_CreateNewUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IArticlesWebService" type="tns:IArticlesWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetArticles">
      <soap:operation soapAction="http://tempuri.org/IArticlesWebService/GetArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetArticle">
      <soap:operation soapAction="http://tempuri.org/IArticlesWebService/GetArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateArticle">
      <soap:operation soapAction="http://tempuri.org/IArticlesWebService/CreateArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArticle">
      <soap:operation soapAction="http://tempuri.org/IArticlesWebService/DeleteArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://tempuri.org/IArticlesWebService/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteComment">
      <soap:operation soapAction="http://tempuri.org/IArticlesWebService/DeleteComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindImage">
      <soap:operation soapAction="http://tempuri.org/IArticlesWebService/FindImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByName">
      <soap:operation soapAction="http://tempuri.org/IArticlesWebService/GetUserByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewUser">
      <soap:operation soapAction="http://tempuri.org/IArticlesWebService/CreateNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArticlesWebService">
    <wsdl:port name="BasicHttpBinding_IArticlesWebService" binding="tns:BasicHttpBinding_IArticlesWebService">
      <soap:address location="http://localhost:61060/ArticlesWebService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>