Source/MiniJournal.WcfServiceClient/Connected Services/ArticlesServiceReference/ArticlesWebService31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.ArticlesApplicationService.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.ArticlesApplicationService.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61060/ArticlesWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.UsersApplicationService.Entities" />
  <xs:complexType name="ArrayOfArticle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Article" nillable="true" type="tns:Article" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArticle" nillable="true" type="tns:ArrayOfArticle" />
  <xs:complexType name="Article">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="tns:ArrayOfComment" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="ImageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.UsersApplicationService.Entities" minOccurs="0" name="User" nillable="true" type="q1:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Article" nillable="true" type="tns:Article" />
  <xs:complexType name="ArrayOfComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comment" nillable="true" type="tns:Comment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComment" nillable="true" type="tns:ArrayOfComment" />
  <xs:complexType name="Comment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.UsersApplicationService.Entities" minOccurs="0" name="User" nillable="true" type="q2:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comment" nillable="true" type="tns:Comment" />
</xs:schema>