Source/MiniJournal.WcfServiceClient/Connected Services/ArticlesServiceReference/ArticlesWebService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.Commands.ImagesApplicationsService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.Commands.ImagesApplicationsService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FindImageRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImageId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindImageRequest" nillable="true" type="tns:FindImageRequest" />
  <xs:complexType name="FindImageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindImageResponse" nillable="true" type="tns:FindImageResponse" />
</xs:schema>