Source/MiniJournal.WcfServiceClient/Connected Services/ArticlesServiceReference/ArticlesWebService33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.Commands.UsersApplicationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.Commands.UsersApplicationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61060/ArticlesWebService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.Commands.UsersApplicationService.Entities" />
  <xs:complexType name="GetUserByNameRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUserByNameRequest" nillable="true" type="tns:GetUserByNameRequest" />
  <xs:complexType name="GetUserByNameResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Infotecs.MiniJournal.Contracts.Commands.UsersApplicationService.Entities" minOccurs="0" name="User" nillable="true" type="q1:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUserByNameResponse" nillable="true" type="tns:GetUserByNameResponse" />
  <xs:complexType name="CreateNewUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateNewUserRequest" nillable="true" type="tns:CreateNewUserRequest" />
  <xs:complexType name="CreateNewUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateNewUserResponse" nillable="true" type="tns:CreateNewUserResponse" />
</xs:schema>